<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMPLE TEMPLATE</title>
    <link rel="stylesheet" type="text/css" href="./css/template.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header >
        <nav >
            <div class="nav">
               
                <a href="#" class="awesome">Awesome</a>
                <a href="#" style="margin-right: 40px; color: white;text-decoration: none;">Features</a>
                <a href="#" style="margin-right: 40px; color: white;text-decoration: none;">Service</a>
                <a href="#" style="margin-right: 40px; color: white;text-decoration: none;">Call to action</a>
                <a href="#" style="margin-right: 40px; color: white;text-decoration: none;">Price</a>
                <a href="#" style="margin-right: 40px; color: white;text-decoration: none;">About</a>
                <a href="#" style="margin-right: 40px; color: white;text-decoration: none;">Testimonal</a>
                <a href="#"><button class="btn">Button</button></a>
              
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>Awesome Template</h1>
            <p>Lorem Ipsum is simply dummy text fo the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. it has survived not ony five centuries, but also the leap into electronic typesetting.</p>
        </div>
    </header>

    <section>
        <div class="row">
            <h1 class="features">Features</h1>
            <div class="one"> 
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <h1>Responsive Design</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="two">
                
                <i class="fa fa-code" aria-hidden="true"></i>
                <h1>Clean Code</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="three">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
                <h1>24/7 Support</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="four">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <h1>Modern Design</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
        </div>
        
    </section>

    <section>
        <div class="second-section">
            <div class="img">
                <img src="./images/Macbook.png" alt="" class="macbook">
            </div>
            
            <div class="rocket">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <h1>Quick Install</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore </p>
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <h1>Quick Install</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
            </div>
        </div>
    </section>

    <section>
        <div class="section3">
            <div class="five">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
                <h1>24/7 Support</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="six">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <h1>Quick Install</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore </p>
            </div>
            <div class="seven">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <h1>Easy to Customize</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="eigth">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
                <h1>Another Feature</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="nine">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
                <h1>24/7 Support</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore 
                    </p>
            </div>
            <div class="ten">
                <i class="fa fa-rocket" aria-hidden="true"></i>
            <h1>Quick Install</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore </p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <img src="./images/dashboard-img.jpg" alt="" class="graph">
        </div>
     </section>

     <section >
         <div >
             <h1 class="mainprice">Price Table</h1>
             <div class="price1">
                <h1>s 12/month 
                </h1>
                <h2>Basic 
                </h2>
                <h2>
                    FREELANCER </h2>
                <h3>1000 video lessons 
                </h3>
                <h3>Normal speed 
                </h3>
                <h3>500 solved exercises 
                </h3>
                <h3>300MB to save your code 
                </h3>
                <h3>750 hours of support 
                </h3>

             </div>
             <div class="price2">
                <h1>s 12/month 
                </h1>
                <h2>Basic 
                </h2>
                <h2>
                    FREELANCER </h2>
                <h3>1000 video lessons 
                </h3>
                <h3>Normal speed 
                </h3>
                <h3>500 solved exercises 
                </h3>
                <h3>300MB to save your code 
                </h3>
                <h3>750 hours of support 
                </h3>
             </div>
             <div class="price3">
                <h1>s 12/month 
                </h1>
                <h2>Basic 
                </h2>
                <h2>
                    FREELANCER </h2>
                <h3>1000 video lessons 
                </h3>
                <h3>Normal speed 
                </h3>
                <h3>500 solved exercises 
                </h3>
                <h3>300MB to save your code 
                </h3>
                <h3>750 hours of support 
                </h3>
             </div>
         </div>
         
     </section>

     <section>
         <div class="section6">
             <h1>About us</h1>
             <div class="about1">
                 <img src="./images/1.jpg" alt="">
                 <h1>John Doe</h1>
                 <p> Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit, sed do eiusmod.</p>
             </div>
            <div class="about2">
                 <img src="./images/2.jpg" alt="">
                 <h1>John Doe</h1>
                 <p> Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit, sed do eiusmod.</p>
             </div>
             <div class="about3">
                 <img src="./images/3.jpg" alt="">
                 <h1>John Doe</h1>
                 <p> Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit, sed do eiusmod.</p>
             </div>
         </div>
     </section>
     <section>
         <div class="section7">
              <h1>Testimonal</h1>
              <p>Lorem Ipsum is simply dummy text fo the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type</p>
         </div>
     </section>

     <footer>
        <div class="footer">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            <p>@import template by <b>Template stock</b></p>
       </div>
     </footer>


</body>
</html>


