* {
    margin: 0;
}
.cp {
    padding: 25px;
}
.underline {
    border-bottom: 2px solid green;
    display: inline-block;
    line-height: 0.85;
    padding: 10px;
    /* border-color: green; */
    
}
.hovercolor:hover {
    background-color: green;
    transition: 0.3s;
}
.hovercolor {
    background-color: rgb(204, 197, 197);
}
.section1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul {
    float: left;
    margin: unset;
   
}

ul li {
    float: left;
    list-style: none;
    /* padding: 0px 10px 0px 10px; */
    text-decoration: none;
  
    

}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-left: 150px;
    padding-right: 150px; */
    background-color: rgb(31, 175, 31);
    
}

.logo {
    padding-left: 100px;
    
}
.logocolor {
    color: white;
    text-decoration: none;
}
.logocolor:hover {
    background-color: green;
    transition: 0.3s;
    
}
.features {
    color: white;
    padding-right: 30px;
    text-decoration: none;
}
.features:hover {
    background-color: green;
    transition: 0.3s;
}

.hero-text-box{
    
    text-align: center;
    color: white;
    background-color: rgb(31, 175, 31);
    /* margin-top: -20px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px; */
    /* margin-bottom: 100px; */
    width: 100%;
    height: 30vh;
    display: block;
    margin: 0 auto;
    
   
}
.wrapper {
    padding: 80px;
}
.para {
    
    /* width: 100vh; */
    
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    width:50%;
    /* padding: 0px 400px 0px 400px; */
    /* padding-left: 300px;
    padding-right: 500px; */
   
}

.btn {
    /* background-color: rgb(5, 245, 5); */
    padding: 2px;
    border: 1px solid green;
    color: white;

    
}
.btn a {
    text-decoration: none;
}
.featuresection {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.row {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* padding-right: 100px;
    padding-left: 100px; */
    /* padding: 100px 500px 100px 500px; */
    /* text-align: center; */
    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    /* margin-bottom: 100px; */
   
    
}
.one ,.two, .three, .four {
   
    padding: 0px;

}

.featurestext {
    text-align: center;
    padding-top: 30px;

    /* padding: 50px 500px 10px 500px; */

}
.macsection {
    
    margin: 0 auto;
    width: 100%;
}
.sub-section{

    background-color: rgb(199, 189, 189);
}
.img {
    float: left;
   
    height: 400px;
    width: 50%;
}
.macbook {
    width: 50%;
    /* padding-left: 400px; */
    margin-left: 400px;
    padding-top: 50px;
    

  
}
.rocket {
    /* float: left; */
    padding-top: 70px;
    height: 400px;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    justify-content: left;

}
.section3 {
    text-align: center;
    width: 100%;
    padding: 100px 0 100px 0;
    margin: 0 auto;
}
.services1 {
    text-align: center;
   
    font-size: 40px;
}
 .block1 {
    display: flex;
    /* padding: 0px 450px 0px 450px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
 }
 .block2 {
    display: flex;
    /* padding: 0px 450px 0px 450px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
 }
.five, .six, .seven, .eight, .nine, .ten {
    /* float: left; */
    height: 200px;
    width: 16.66%;
}
.graphimg {
    background:url("./images/dashboard-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.graph {
    width: 100%;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    
} 
.section5 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.primeprice {
     text-align: center;
     padding-top: 100px;
}
.subprice {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    /* padding-left: 462px; */
    padding-top: 50px;
}

/* .mainprice {
    text-align: center;
    
} */
.btn1 {
    background-color: green;
    color: white;
    text-decoration: none;
    border: 1px solid green;
}
 .price1, .price2 , .price3{
   
    text-align: center;
    /* margin-right: 70px;
    margin-left: 70px; */
    /* height: 50vh; */
    /* width: 50vw; */
    width: 25%;
    /* padding-bottom: 100px; */
    /* background-color: rgb(230, 58, 5); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
     padding: 15px;
    padding-top: 10px; 
    transition: 0.3s;

   
  
    background-color: #f1f1f1;
    
}
.price1:hover, .price2:hover, .price3:hover {
    box-shadow: 0 8px 16px 0 rgb(128, 250, 14);
}


.section6 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 100px 0;

}
.primeabout {
      text-align: center;
}
.subabout {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    padding-top:30px;
    /* padding: 50px; */
}
/* .about1 ,.about2, .about3 {
    float: left;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
    padding-top: 100px;
    height: 100%;
    width: 25%;
    padding-bottom: 100px;
} */

.section7 {
    text-align: center;
    width: 100%;
    padding: 100px 0 100px 0;
    margin: 0 auto;
    background-color: rgb(31, 175, 31);
    /* margin-top: 50px;
    padding-bottom: 100px; */
    
     /* width: 806px;
    height: 157px; */

}

.jpg1, .jpg2, .jpg3 {
    width: 50%;
}

.footer {
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 100px 0 100px 0;
    margin: 0 auto;
   
    
     /* width: 800px;
    height: 112px; */
} 
.test {
    text-align: center;
     
 }
.copy{
    text-align: center;
   
}
.color {
    color: green;
}
.icon {
   
    width: 15%;
}
.icon2 {
    width:4%;
}
/* .one span {
    color: green;
} */
/* header {
    background-color: rgb(6, 216, 6);
    width: 100%;
    height: 100%;
}
div {
    width: 100%;
    height: 100%;
}
.nav {
    padding-top: 30px;
}
.btn {
    background-color: rgb(5, 245, 5);
}

.awesome{
    margin-left: 300px;
    margin-right: 700px;
    color: white;
    text-decoration: none;
}



.hero-text-box{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    margin: auto;
    width: 50vw;
   
}
.featurestext {
    text-align: center;

}
 
.one {
   
    float: left;
   
    height: 400px;
    width: 25%;

}
.two {
   
    float: left;
   
    height: 400px;
    width: 25%;
}
.three {
    
    float: left;
   
    height: 400px;
    width: 25%;
}
.four {
    
    float: left;
   
    height: 400px;
    width: 25%;
}

.section3 {
    text-align: center;
}
.five {
    float: left;
   
    height: 200px;
    width: 40%;
}
.six {
    float: left;
   
    height: 200px;
    width: 25%;
}
.seven {
    float: left;
   
    height: 200px;
    width: 25%;
}
.eight {
    float: left;
   
    height: 200px;
    width: 25%;
}
.nine {
    float: left;
    padding-right: 50px ;
    height: 200px;
    width: 25%;
}
.ten {
    float: left;
   
    height: 200px;
    width: 25%;
} 
.second-section{

    background-color: black;
}
.img {
    float: left;
   
    height: 400px;
    width: 50%;
}
.macbook {
    width: 50%;
    padding-left: 50px;
    padding-top: 50px;
    

  
}
.rocket {
    float: left;
   
    height: 400px;
    width: 50%;

}
.graph {
    width: 100%;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;
    
}
.mainprice {
    text-align: center;
}
.price1, .price2 , .price3{
    float: left;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
    height: 100%;
    width: 25%;
}

.section6 {
    text-align: center;
   

}
.about1 ,.about2, .about3 {
    float: left;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
    
    height: 100%;
    width: 25%;
}

.section7 {
    text-align: center;
    margin-top: 50px;
    /* width: 806px;
    height: 157px;
  */
/* }

.footer {
    text-align: center; */
    /* width: 800px;
    height: 112px;
} */

/* .row {
    float:left;
    height: 400px;
    width: 25%;
    display:inline-block;
} */




/* .section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.row::before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear:both;
}
.col {
    display: block;
    float:left;
    
} */ */