*{
    margin: 0;
    padding: 0;
    box-size: border-box;

}



.one {
    background: red;
    float: left;
   
    height: 400px;
    width: 33.33%;

}
.two {
    background: yellow;
    float: left;
   
    height: 400px;
    width: 33.33%;
}
.three {
    background: green;
    float: left;
   
    height: 400px;
    width: 33.33%;
}